body {
    padding: 0;
    margin: 0 auto;
    font-family: 'Oxygen', sans-serif;
}

.comparison-box-qc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    /* background-color: rgb(240, 240, 240); */
}

.comparison-box-qc-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 70%;
    height: 30vh;
    margin: 0 auto;
    background-color: rgb(240, 240, 240);
}

.hours-box,
.price-box {
    width: 40%;
    /* border: 1px solid red; */
}

.hours-title,
.price-title {
    padding: 0;
    margin: 0;
    text-align: center;
}

#slider-hours-results,
#slider-price-results {
    width: 80%;
    padding: 2%;
    margin: 0 auto;
    text-align: center;
}

.slider-box {
    padding: 10% 0;
}